.editor-form .form-actions {
    margin-top: 10px;
}

.table td.condensed,
.table th.condensed {
    white-space: nowrap;
    width: 29px;
}

.field-value-column {
    max-height: 200px;
    overflow: auto;
}

.field-value-column .column-content {
    max-height: 200px;
}