.editor-form .form-actions {
    margin-top: 10px;
}

.editor-form .table thead tr td,
.editor-form .table tbody tr td
.editor-form .table thead tr th,
.editor-form .table tbody tr th {
    width: auto;
}

.editor-form th.condensed,
.editor-form td.condensed {
    width: 1%;
    white-space: nowrap;
}

.editor-form .field-value-column {
    max-height: 300px;
}

.editor-form .field-value-column .column-content {
    max-height: 300px;
    width: 100%;
    overflow-y: scroll;
}