{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'editor/snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}

{% block package_item %}
    <tr class="{{ item_class or 'dataset-item' }}">
        <td class="condensed text-center"><input type="checkbox" value="{{package.id}}" name="package_id" /></td>
        <td class="condensed">{{ h.link_to(h.truncate(title, truncate_title), h.url_for('dataset.read', id=package.name)) }}</td>
        <td class="field-value-column">
            <div class="column-content">
                <!-- Display multilingual fields -->
                {% if package[c.selected_field.field_name] is mapping %}
                    {% for key, value in package[c.selected_field.field_name].iteritems() %}
                        <b>{{key}}:</b>
                        <!-- Value is formatted as multilingual tags -->
                        {% if c.selected_field['format_as_tags'] %}
                            {{value | join(', ')}}
                        <!-- Otherwise the value is just multilingual text -->
                        {% else %}
                            {{value}}
                        {% endif %}
                        {% if not loop.last %}<hr>{% endif %}
                    {% endfor %}
                {% elif c.selected_field.field_name == 'group' or c.selected_field.field_name == 'collection'  %}
                  {{ h.get_group_names_for_package(package['id'], c.selected_field.field_name) | join(', ')}}
                {% elif c.selected_field.field_name == 'owner_org' %}
                  {{ package['organization'].title }}
                {% elif c.selected_field.field_name == 'private' %}
                  {{ _('Private') if package[c.selected_field.field_name] else _('Public') }}
                <!-- Normal CKAN tag_string-like list without multilingual support -->
                {% elif package[c.selected_field.field_name] is iterable and package[c.selected_field.field_name] is not string %}
                    {{ package[c.selected_field.field_name] | join(', ')}}
                {% else %}
                    {{ package[c.selected_field.field_name] }}
                {% endif %}
            </div>
        </td>
    </tr>
{% endblock %}