{% extends 'page.html' %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

  {% resource "editor_js/editor.js" %}
  {% resource "editor_css/editor.css" %}

  <section class="module">
    <div class="module-content">
      {% set sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
      {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}

      <form action="editor/package_update" method="post" enctype="application/x-www-form-urlencoded" class="editor-form">

        {% block field_select %}
            {%- snippet 'editor/snippets/field_select.html' -%}
        {% endblock  %}

        <div>
          {% if c.selected_field_appendable %}
            <div class="radio">
              <label><input type="radio" name="edit_action" value="append" checked>{{ _('Add entered value to old values') }}</label>
            </div>

          {% if not c.selected_field.removable_value %}
            <div class="radio">
              <label><input type="radio" name="edit_action" value="replace">{{ _('Replace old value with the entered value') }}</label>
            </div>
          {% endif %}
          {% if c.selected_field.removable_value %}
            <div class="radio">
              <label><input type="radio" name="edit_action" value="remove">{{ _('Remove entered value if found') }}</label>
            </div>
          {% endif %}
          {% else %}
            {{ _('The entered field value will replace the old value if it exists') }}
            <input type="hidden" name="edit_action" value="replace">
          {% endif %}
        </div>

        <input type="hidden" name="format_as_tags" value="{{c.selected_field['format_as_tags']}}">
        <input type="hidden" name="form_languages" value="{{c.selected_field['form_languages']}}">
        {% if c.fields -%}
        <span>{{ form.hidden_from_list(fields=c.fields) }}</span>
        {%- endif %}
        <div class="form-actions">
          <button type="submit" id="editor-form-submit" class="btn btn-primary">{{_('Save')}}</button>
        </div>

        <hr>

        {% block editor_search_results_list %}
          {{ h.snippet('editor/snippets/package_list.html', packages=c.page.items) }}
        {% endblock %}

      </form>
    </div>

      {% block page_pagination %}
        {{ c.page.pager(q=c.q) }}
      {% endblock %}
  </section>
{% endblock  %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
</div>
{% endblock %}